<table>
  <tr id="header_row">
    <th>tag</th>
    <th>dilemmas</th>
  </tr>
  <tr id="link_row">
    <td><%= render 'tags/form', {tag: @tag} %></td>
    <td><%= link_to "see all your dilemmas", dilemmas_path %></td>
  </tr>
</table>

<script type="text/javascript" charset="utf-8">
  getAllTags();
  createNewTag();
</script>