<table>
  <tr>
    <th>tag</th>
    <th>dilemmas</th>
  </tr>
  <tr id="link_row">
    <td><%= link_to "add new tag", new_tag_path %></td>
    <td><%= link_to "see all your dilemmas", dilemmas_path %></td>
  </tr>
</table>
