<table>
  <tr id="header_row">
    <th>tag</th>
    <th>dilemmas</th>
  </tr>
  <tr id="link_row">
    <td><%= render 'tags/form', {tag: @tag} %></td>
    <td><%= link_to "see all your dilemmas", dilemmas_path %></td>
  </tr>
</table>

<script type="text/javascript" charset="utf-8">
  getAllTags();
  createNewTag();
</script>

<script type="text/x-handlebars-template" id="tag-index-template">
  <tr>
    <td>{{tag_name}}</td>
      <td>
        {{#each dilemma_array}}
          <a href="/dilemmas/{{dilemma_id}}">{{dilemma_name}}</a>
        {{/each}}
      </td>
    <td><a href="/tags/{{tag_id}}">view</a></td>
  </tr>
</script>