 <table>
  <tr id="dilemma_index_header_row" data-current-user-id="<%= current_user.id %>">
    <th>dilemma</th>
    <th>deadline</th>
    <th>tags</th>
  </tr>
  <!-- dilemmas added here via jquery -->
  <tr>
    <td><%= link_to "add new dilemma", new_dilemma_path %></td>
    <td><%= link_to "see your overdue dilemmas", overdue_path %></td>
    <td><%= link_to "see all tags", tags_path %></td>
  </tr>
</table>

<script type="text/javascript">
  getUser();
  getUsersDilemmas();
</script>

