 <table>
  <tr id="dilemma_index_header_row" data-current-user-id="<%= current_user.id %>">
    <th>dilemma</th>
    <th>deadline</th>
    <th>tags</th>
  </tr>
  <!-- dilemmas added here via jquery -->
  <tr>
    <td><%= link_to "add new dilemma", new_dilemma_path %></td>
    <td><%= link_to "see your overdue dilemmas", overdue_path %></td>
    <td><%= link_to "see all tags", tags_path %></td>
  </tr>
</table>

<script type="text/javascript">
  getUser();
  getUsersDilemmas();
</script>

<script type="text/x-handlebars-template" id="dilemma-index-template">
  <tr>
    <td><a href="/dilemmas/{{dilemma_id}}">{{dilemma_name}}</a></td>
    <td>{{dilemma_deadline}}</td>
    <td>
      {{#each tags}}
        <a href="/tags/{{tag_id}}">{{tag_name}}</a>
      {{/each}}
    </td>
    <td>
      <a rel='nofollow' data-method='delete' href='/dilemmas/{{dilemma_id}}'>delete</a>
    </td>
  </tr>
</script>

