 <table>
  <tr>
    <th>dilemma</th>
    <th>deadline</th>
    <th>tags</th>
  </tr>
  <% current_user.dilemmas.each do |d| %>
    <%= render 'layouts/table', {d: d} %>
  <% end %>
  <tr>
    <td><%= link_to "add new dilemma", new_dilemma_path %></td>
    <td><%= link_to "see your overdue dilemmas", overdue_path %></td>
    <td><%= link_to "see all tags", tags_path %></td>
  </tr>
</table>


